<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Jkeel: Our Company</h2>
        <p class="lead">Jkeel is a passionate group of riders gathered
          around a common project. Thanks to the jkeel technologies, we develop
          innovative, performant and tunable products. </p>
        <p class="lead"> We are commited to leverage the best 
          solutions that fit your needs. </p>
        <p class="lead"> We are a dedicated team to produce high quality riding
          tools. </p>
      </div>

    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
