<section id="ourwork" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Our work</h2>
        <hr class="small">
        <div class="row">

          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="img/jkeelfins-proto1.jpg">
              </a>
            </div>
          </div>

          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                  <img class="img-portfolio img-responsive" src="img/jkeelfins-proto2.jpg">
              </a>
            </div>
          </div>

          <div class="col-md-20">
            <div class="portfolio-item">
              <a href="#">
                  <img class="img-portfolio img-responsive" src="img/jkeelfins-proto3.jpg">
              </a>
            </div>
          </div>
        </div>
        <!--
        <a href="#" class="btn btn-dark">View More Items</a>
        /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
